@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100&family=Anek+Odia:wght@100;600&family=Beau+Rivage&family=Kanit:ital,wght@0,500;0,600;1,500&family=Oswald:wght@400;500;600;700&family=PT+Sans+Narrow:wght@700&family=Poppins&display=swap");

/* font-family: 'Anek Gujarati', sans-serif;
font-family: 'Anek Odia', sans-serif;
font-family: 'Beau Rivage', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */

.heroBg {
    background-image: url("../../../components/Images/Home/heroBg.png");
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    animation: color 60s infinite ease-out;
}

/* @keyframes color {
    0% {
        background-image: url("../../../components/Images/Home/heroBg.png");
        background-repeat: no-repeat;
        width: 100vw;
        background-size: cover;
        background-position: center center;
    }

    30% {

        background-repeat: no-repeat;
        width: 100vw;
        background-size: cover;
        background-position: center center;
        background-image: url("https://img.freepik.com/free-photo/smiling-young-couple-standing-rock_23-2147842549.jpg?w=1060&t=st=1680728070~exp=1680728670~hmac=e3767db200f4b9d2299fef54ad3cdfdbc76a44ebcab084dd16f2d54ffaefc7a4");
    }


    90% {
        background-repeat: no-repeat;
        width: 100vw;
        background-size: cover;
        background-position: center center;
        background-image: url("https://img.freepik.com/free-photo/green-trunk-mountains-foggy-mist-scenic_1417-1343.jpg?w=1060&t=st=1680728010~exp=1680728610~hmac=a75ae146ef068a61c0a010bf45ed74c2300c09a389a287837a75eaedcbe59563");
    }

    100% {
        background-repeat: no-repeat;
        width: 100vw;
        background-size: cover;
        background-position: center center;
        background-image: url("https://img.freepik.com/free-photo/lovely-couple-looking-away-holding-each-other_23-2148301321.jpg?w=1060&t=st=1680728043~exp=1680728643~hmac=8c8e8ef7e5daa217ab11c5048e96c98c10113804b3b68e1d17fe8a093a0bcac5");
    }


} */

.link_style {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.link_style_sm {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.section02 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding-top: 35px;
}